[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
flake8 = "*"
reorder-python-imports = "*"

[packages]
kubernetes = "*"
pprint = "*"
python-dotenv = "*"
timeloop = "*"
mcstatus = "*"
environs = "*"

[requires]
python_version = "3.8"
